<%- include("partials/dynamicHeader")-%>
<style>
  body {
    background-image: url(../images/course_bg.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  /* existing styles */

  h1 {
    font-size: 36px;
    margin: 20px;
    font-size: 36px;
    /* margin: 20px; */
    color: #333; /* new style */
    text-align: center; /* new style */
    text-decoration: underline; /* new style */
  }

  /* existing styles */


  h2 {
    font-size: 30px;
    margin: 10px 0;
  }

  h4 {
    font-size: 18px;
    margin: 5px 0;
    margin-left: 2px;
  }

  p {
    margin: 10px 0;
  }

  form {
    display: inline-block;
    margin-left: 10px;
  }

  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }

  button:hover {
    background-color: #0062cc;
  }
</style>

<h1><u>Available Courses</u></h1>

<% course.forEach(function(course) { %>

  <h2><%= course.courseName %></h2>
  <h3>Tutors:</h3>
  <% course.tutors.forEach(function(tutor) { %>
  <div class="container">
    <div class="row">
      <div class="col-sm">
          <h4 ><%= tutor.name %></h4>
        
      </div>
      <div class="col-sm">
       <p> <strong>Price :</strong> Rs.<%= tutor.fees %></p>
      </div>
      <div class="col-sm">
        <form action="/buy" method="post">
          <input type="hidden" name="courseId" value="<%= tutor._id %>">
          <button type="submit">Buy</button>
        </form>
      </div>
    </div>
  </div>
  <% }); %>


  <div>
    <div style="margin-left: 10%;">
      
    </div>
    
    
    <hr>
  </div>
<% }); %>

<%- include("partials/footer")-%>


