<%- include("partials/dynamicHeader")-%>

<style>
    /* Add custom styles here */
    .container {
        margin-top: 50px;
    }
    .img-fluid {
        width: 170px;
        height: 220px;
    }
    </style>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img src="/images/<%= hod.photo %>.JPG" alt="<%= hod.name %> Photo" class="img-fluid">
			</div>
			<div class="col-md-8">
				<h1 class="mt-3"><%= hod.name %></h1>
				<h2><%= hod.department %></h2>
				<p>Email: <%= hod.email %></p>
				<p>Phone: <%= hod.phone %></p>
				<p>Bio: <%= hod.bio %></p>
				<h2>Work and Experience</h2>
				<ul>
					<% for (let i = 0; i < hod.work.length; i++) { %>
						<li><%= hod.work[i].position %> at <%= hod.work[i].company %> (<%= hod.work[i].years %>)</li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
</body>

<%- include("partials/footer")-%>

