<%- include("partials/header")-%>
<style>
  body {
    font-family: Arial, sans-serif;
    background-image: url(../images/course_bg.jpg);
  }
  .banner{
    width: 100%;
  }
  .card-body{
    background-color:beige;
    
  }
</style>

<% if(!user || user.role=='student'){ %>
  <div class="banner">
    <h1 class="text-center" style="padding-bottom: 10px;">Learn something new today</h1>
    <p class="text-center">Choose from our wide selection of courses</p>
    <form class="d-flex justify-content-center" action="/search" method="post">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="cours">
      <button class="btn btn-danger" type="submit">Search</button>
    </form>
    <small style="color: red;"><i><%= msg %></i></small>
    <div class="text-center">
      <a href="/course/all">View Courses</a>
    </div>
  </div>
  
  <div class="container">
  <div class="text-center" style="margin-top: 40px; margin-bottom: 5px;">
    <h4 style="padding: 10px; margin-bottom: 15px; font-size: xx-large;">Categories of courses available.</h4>
  </div>

  <div class="row">
    <% for(let i=0 ; i<3 ; i++){ %>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title">Class: <%= i*4+1 %></h3>
          <form method="get" action="/courses/<%= i*4+1%>">
            <button type="submit" class="btn btn-primary btn-block" value="class <%= i*4+1  %>">View Courses</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title">Class: <%= i*4+2 %></h3>
          <form method="get" action="/courses/<%= i*4+2%>">
            <button type="submit" class="btn btn-primary btn-block" value="class <%= i*4+2  %>">View Courses</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title">Class: <%= i*4+3 %></h3>
          <form method="get" action="/courses/<%= i*4+3%>">
            <button type="submit" class="btn btn-primary btn-block" value="class <%= i*4+3  %>">View Courses</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title">Class: <%= i*4+4 %></h3>
          <form method="get" action="/courses/<%= i*4+4%>">
            <button type="submit" class="btn btn-primary btn-block" value="class <%= i*4+4  %>">View Courses</button>
          </form>
        </div>
      </div>
    </div>
    <% }} %>
  </div>

  <% if(user && user.role=='tutor'){ %>
    <h1 style="margin-left: 10%; margin-top: 5%;">Welcome <%= user.name  %> !!</h1>
    <br>
    <ul>
      <li>
        <a class="nav-link" href="/addcourses" style="width: 20%;  font-size: xx-large; color: darkslategray; margin-left: 5%;"> Add Courses</a>
      </li>
      <br>
      <li>
        <a class="nav-link" href="/managecourses" style="width: 20%;font-size: xx-large; color: darkslategrey; margin-left: 5%;"> Manage Courses</a>
      </li>
    </ul>
    <% } %>
</div>

<%- include("partials/footer")-%>
