<%- include("partials/header")-%>

<link rel="stylesheet" href="/css/style_tutor.css">
<body>
  <% if(user && user.role === 'tutor') {%>
    <h1>The courses you are Offering are:</h1>
 
    <ul>
        
      <% courses.forEach(course => { %> 
        <li>
          <h3><%= course.courseName %></h3>
          <p><%= course.description %></p>
          <a href="/course/<%= course._id %>">View Course</a>
        </li>
      <% }); %>
    </ul>
    <% } %>
    <!-- for student -->
<% if(user && user.role === 'student') {%>
  <h1>The courses you have purchased are:</h1>
  <ul>
    <% courses.forEach(course => { %> 
      <li>
        <h3><%= course.courseName %></h3>
        <p><%= course.description %></p>
        <a href="/course/<%= course._id %>">View Course</a>
      </li>
    <% }); %>
  </ul>
  <% } %>
</body>




<%- include("partials/footer")-%>
